*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #2980b9;
    color: white;
}
nav ul li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: .5s;
}
a:hover{
    background-color: blueviolet;
}
.one{
    width: 100%;
    height: 600px;
    display: inline-block;
    background-image: url(bac.jpg);
    position: relative;
}
.two{
    margin: 15px;
    /* border: 2px solid; */
    padding: 20px;
    position: absolute;
    top: 80px;
    right: 40px;
    display: flex;
    align-items: center;
}
